<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    
    <!-- js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

</head>
<body style="background-color: #E7E3E3;">
    <!-- メニューバー -->
    <div class="ui massive top fixed menu">
        <div class="item">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/icon.png') }}" style="width: 25px;">
            </a>
        </div>
            <a class="item" href="{{ url_for('index') }}"><b>ワクチン情報</b></a>
            <a class="item" href="{{ url_for('status') }}"><b>ワクチンの摂取状況</b></a>
            <a class="item" href="{{ url_for('update') }}"><b>ワクチン証明書更新</b></a>
            <a class="item" href="{{ url_for('evidence') }}"><b>ワクチン証明書一覧</b></a>
            <a class="item" href="{{ url_for('send_evi') }}"><b>ワクチン証明書送付</b></a>
    </div>
    <!-- ***************** -->
    <div hidden>
        
    </div>
    <div class="ui main text container" style="margin-top:250px;">
        <div class="ui segment" style="font-size: 25px; text-align:center;">
            <b>{{vaccine_name}}</b>を<br>
            <b>{{update_date}}</b>に接種<br><br>
            <a class="ui fluid green button" style="font-size: 25px;" href="{{ url_for('evidence') }}">-アップロード完了</a>
        </div>
    </div>
</body>
</html>